body{ 
	background-image: url(developpement-web.jpg); 
    background-repeat: no-repeat;
    align-content: center; } 
img{
	width:50px;
	height: 50px;}


h1{ 
	font-family: Georgia;
	font-size:30px;
	color: #370A04; 
	text-align: justify; }

p{
	font-family:Times New Roman; 
    font-size: 20px;}
	

